.vscode
preprocess
results
results_img
sample_videos
pretrained/
datasets/

A2J-Transformer-main/
exps_pats2_dim_100/
pretrained_models/

__pycache__/
*.py[cod]
*$py.class/
ffs_train.log
test/
exps_pats/
exps_pats2/